html{
    width: 100%;
	height: 100%;
}
*{
	font-family: "Century Gothic",sans-serif;

}



body
{
	background-image: url('../images/rr2.PNG');
	/*margin-top: 8rem;*/
	background-repeat: no-repeat;
    background-attachment: fixed;
     background-position: center;

   /*  border:2px solid black;*/
     height: 100%;
     width: 100%;
}




footer{
	text-align: center;
	background-color: #F9CF00;




	height: 15%;

}





/*MENUBAR*/
.container-fluid{

	background-color: #4484CE;
	border-bottom: 2px solid #F9CF00;
}
.container-fluid a{
	color: whitesmoke;
}
.dropdown-menu{
	background-color: #4484CE;
}
ul.nav a:hover{
	color: #F9CF00;
	background-color: #4484CE;
	border-bottom: 2px solid #F9CF00;
}



/*CONTAINeR*/
.container_main{
	/*background-colsusor: #e9e9e9;*/
	  /* c  border-bottom: 2px solid red;*/
	     height: 75%;
	     padding: 1rem;
	     width: 100%;
	margin-top: 5rem;

	
}
.container_message{
	/*background-color: #e9e9e9;*/
	height: 75%;
	padding: 1rem;
	width: 100%;
	margin-top: 5rem;
	overflow-x: hidden;

}
.container2{
	padding: 1rem;
	width: 100%;
}
.container3{


}

/*About us page wrapper*/
.wrapper_message{
	font-family: Century Gothic, sans-serif;
	text-align: center;
	/*	background-color: white;*/
	border: 2px solid deeppink;


	color: red;
width:100%;


}
.conversations{
	width: 49%;
	float:left;
	background-color: #999999;
}
.content{
	width: 49%;
	float: left;
	background-color: #4484CE;
}


.wrapper_up{
	font-family: Century Gothic, sans-serif;
	text-align: center;
/*	background-color: white;*/
	margin: auto;
	padding: 1rem;
	color: black;

/*	background-image: url('../images/rr2.PNG');
	margin-top: 8rem;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;*/

}
.wrapper_down{
	margin:auto;
}
.log-btn {
	background:#4484CE;
	display: inline-block;
	width: 50%;
	font-size: 16px;
	height: 50px;
	color: #fff;
	text-decoration: none;
	border: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: auto;

}




/*MATCHER PAGE*/
.matcherPage{
	width: 60%;
	margin: auto;
	padding: 1rem;
	-webkit-box-shadow: 0px 14px 66px 1px rgba(0,0,0,0.79);
	-moz-box-shadow: 0px 14px 66px 1px rgba(0,0,0,0.79);
	box-shadow: 0px 14px 66px 1px rgba(0,0,0,0.79);


}
.navbar{
	background-color: #88BBD6;
	border-bottom: white;
}
.container-fluid a{
    color: white !important;
    font-size: large;
}

.navbar-custom {
    background-color: #212121;
}
/*Quote beside login box*/
.wrapper_quote{
	text-align: center;
	width: 50%;
	float: left;
		padding: 1rem;
		height: 100%;
	background-image: url("../images/thumbs.png");
	background-repeat: no-repeat;
	background-position: center;

}
/*login box*/
.wrapper_box{
	padding: 2rem;
	/*background-color: #4484CE;*/
	border-top-right-radius: 2rem;
	border-top-left-radius: 2rem;
	background: rgba(25, 25, 25, .7);





}
.wrapper_box_surround{
	float: right;
	/*background-color: grey;*/
	width:50%;
	height: 100%;
	background-image: url("../images/friends.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 2rem;
}

/*FOR MESSAGE BOX*/
.wrapper_content{
	float: right;
	width:50%;
	height: 100%;
    border-radius: 2rem;
}
.wrapper_convo{
	width: 50%;
	float: left;
	padding: 1rem;
	height: 100%;
    overflow: auto;

}




/*Not registered yet beside button*/
.register_link > input {
	border: 2px solid black;
	float: left;
}
.messageFloaterLeft{
	float: left;
	clear: right;
}
.messageFloaterRight{
	float: right;
	clear: left;
}

/*FEATUREs CSS*/

.wrapper_left{
	text-align: center;

	width: 49%;
	float: left;
	padding: 1rem;
	height: 100%;
	border-radius: 1rem;
	background: rgba(25, 25, 25, .2);
	background: linear-gradient(90deg,#FFFFFF,#4484CE);



}
.wrapper_right{
	float: right;
	width:49%;
	height: 100%;
	padding: 1rem;
	text-align: center;
	border-radius: 1rem;
	background: rgba(25, 25, 25, .2);
	background: linear-gradient(90deg,#4484CE,#FFFFFF);



}

.eFriendLogo
{
	height: 15rem;
	width: 15rem;
	border: 4px solid #4484CE;
	margin:auto;
	border-radius: 50%;
	background-image: url("../images/efriend.PNG");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

.wt_col{
	font-size: large;
	color: black;
}
.eConnectLogo
{
	height: 15rem;
	width: 15rem;
	border: 4px solid #4484CE;
	margin:auto;
	border-radius: 50%;
	text-align: center;
	background-image: url("../images/econnect.PNG");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;





}
.uploader{
	background: linear-gradient(90deg,#FFFFFF,#4484CE);
	border-top:2px solid #cccccc;
	border-left:2px solid #cccccc;
	border-right:2px solid #cccccc;


}
#matter_get{
	height: 100%;

}
.text_input{
	width: 100%;
	clear: both;
	position: relative; /*NEW..*/
	height: 15%;
	background: linear-gradient(90deg,#FFFFFF,#4484CE);
	border-bottom:2px solid #cccccc;
	border-left:2px solid #cccccc;
	border-right:2px solid #cccccc;
	padding: 2px;

}
.matter{
	clear: both;
	overflow-y: scroll;
height: 80%;
	background-color: #4484CE;
	border-left: 2px solid #cccccc;
	border-top: 2px solid #cccccc;


}


textarea { resize: none;     }

.send_text{
	float: right;


}

.absol{
	position: absolute;bottom: 0;
	width: 100%;
	padding-left: 0.5%;
	padding-right: 0.5%;
}


.area_left{
	width: 85%;
	float: left;
	height: 100%;

}
.area_right{
	width: 14%;
	float: right;
	height: 100%;


}
.area_right > button{
	width: 100%;

}
/*PROFILE CSS*/
.wrapper_profile{
	background-color: pink;

}
.profile_image{
	height: 15rem;
	width: 15rem;
	border: 2px solid white;
	margin: auto;
	margin-top: 1rem;
	border-radius: 50%;
	padding: 2px;
}

#pic{

	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
#pic_convo{

	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-box-shadow: 0px 14px 66px 1px rgba(0,0,0,0.79);
	-moz-box-shadow: 0px 14px 66px 1px rgba(0,0,0,0.79);
	box-shadow: 0px 14px 66px 1px rgba(0,0,0,0.79);
}


.div_bottom{
	background-color: grey;
	padding: 1rem;
}
.div_top{
	background-color: red;
	padding: 1rem;
	text-align: center;
}
.div_middle{
	padding: 1rem;
}



/*Registration CSS*/
.wrapper_reg{
	width: 100%;
		padding: 1rem;
    margin-top: 5rem;

}
.wrapper_reg2{
	width: 100%;
	padding: 1rem;
	margin-top: 5rem;
	height: 77%;
	overflow-y: hidden;
}

.container_reg{
	width: 70%;
		margin: auto;
		padding: 1rem;
	background: rgba(25, 25, 25, .2);
	-webkit-box-shadow: 0px 14px 66px 1px rgba(0,0,0,0.79);
	-moz-box-shadow: 0px 14px 66px 1px rgba(0,0,0,0.79);
	box-shadow: 0px 14px 66px 1px rgba(0,0,0,0.79);
	border-left: 1rem solid #F9CF00;


}
.container_reg3{
	width: 70%;
	margin: auto;
	padding: 1rem;
	background: rgba(25, 25, 25, .2);
	-webkit-box-shadow: 0px 14px 66px 1px rgba(0,0,0,0.79);
	-moz-box-shadow: 0px 14px 66px 1px rgba(0,0,0,0.79);
	box-shadow: 0px 14px 66px 1px rgba(0,0,0,0.79);
	border-left: 1rem solid #F9CF00;
	height: 100%;


}
.container_reg2{
	width: 70%;
	margin: auto;
	padding: 1rem;

	border-left: 1rem solid #F9CF00;

	background: rgba(25, 25, 25, .2);
	-webkit-box-shadow: 0px 14px 66px 1px rgba(0,0,0,0.79);
	-moz-box-shadow: 0px 14px 66px 1px rgba(0,0,0,0.79);
	box-shadow: 0px 14px 66px 1px rgba(0,0,0,0.79);
}
a.fill-div {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}


.wrapper_right > a:hover {
	background: #4484CE;
	padding:0;


}

.wrapper_left > a:hover {
	background: #4484CE;
	padding:0;


}
.red{
	color:red;
}
/*sss*/

#submit_data,#firstname,#lastname,#email,#psw,#age,#sex,#address{
	display: none;
}

/*carosel*/
.tales {
	width: 100%;
}
.carousel-inner{
	width:400px;
	max-height: 500px !important;
	margin: auto;
}
.item{
	width:400px;
	height: 400px;
}
#pic2{

	width: 100%;
	height: 100%;
	object-fit: cover;

}

/*
footer{
	text-align: center;
	bottom: 0;
	border-top: 2px solid green;

}

*/

@media screen and (max-width:960px) {
	.matcherPage {
		width: 100%;

	}
}

@media screen and (max-width:600px) {
	.matcherPage {
		width: 100%;

	}
	.item{
		width:100%;
		height: 400px;
	}
	.carousel-inner{
		width:100%;
		height: 100%;
	}
}

/*EFIENDmatcher css*/

.response{
	width: 100%;
	padding: 2rem;
}
.message{
	width: 49%;
	float: left;
	padding: 2px;
}
.deny{
	width: 49%;
	float: right;
	padding: 2px;

}
.btn-flt{
	float: right;
}
/*efriend mathcer*/
.profileInfo{
	width: 100%;
	margin-top: 1rem;
}
.middle{
	margin: auto;


}
.get_padding{
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.profileBio{
	padding-top: 1rem;
	padding-bottom: 1rem;

	padding-left: 1rem;
	width: 80%;
	margin: auto;
	border-left: 1rem  solid #F9CF00;
}
.comic_font{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 5rem;
	color: #F9CF00;
	text-shadow:3px 3px 0 #4484CE,
			-1px -1px 0 #4484CE,
	1px -1px 0 #4484CE,
	-1px 1px 0 #4484CE,
	1px 1px 0 #4484CE;
	margin: auto;
}
.found{
	width: 80%;
	margin: auto;
	text-align: center;
}
#test{
	display: none;
}

#test2{
	display: none;
}

    #white{
		color: white;
	}